<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Космическое агентство</title>
    <link rel="icon" type="image/svg+xml"
          href="{% static 'landing/icons/nasa-logo1.svg' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-lightbox@0.2.12/dist/slick-lightbox.css">
    <link rel="stylesheet" href="{% static 'landing/css/styles.css' %}">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="#">
            {% include "landing/icons/nasa-logo1.svg.html" %}
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">ПРЕИМУЩЕСТВА</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ФОТОГРАФИИ</a>
                </li>
            </ul>
        </div>

        <a href="#" class="btn btn-red">ВХОД</a>
    </div>
</nav>


<section class="hero-section text-center">
    <div class="container">

        <h1 class="hero-title">Космическое агентство</h1>

        <p class="hero-text">
            Национальное управление по аэронавтике и исследованию космического пространства —
            ведомство, относящееся к федеральному правительству США и подчиняющееся непосредственно президенту США.
        </p>

        <div class="hero-content-row d-flex align-items-center justify-content-center mt-5">

    <div class="hero-image">
        <img src="{% static 'landing/images/earth.png' %}" class="rounded shadow">
    </div>

    <div class="features-grid">
            <div class="feature-item">
                <div class="feature-icon">
                    {% include "landing/icons/fa6-solid_shuttle-space.svg.html" %}
                </div>
                <p class="text_top">Спейс шаттлы — пилотируемые корабли</p>
            </div>

            <div class="feature-item">
                <div class="feature-icon">
                    {% include "landing/icons/ion_telescope.svg.html" %}
                </div>
                <p class="text_top">Лучшее телескопическое оборудование</p>
            </div>

            <div class="feature-item">
                <div class="feature-icon">
                    {% include "landing/icons/bi_moon-stars-fill.svg.html" %}
                </div>
                <p class="text_down">Исследовательские станции на Луне — шаг к новым открытиям!</p>
            </div>

            <div class="feature-item">
                <div class="feature-icon">
                    {% include "landing/icons/bxs_medal.svg.html" %}
                </div>
                <p class="text_down">Золотая медаль по научным исследованиям</p>
            </div>
    </div>

</div>

    </div>
</section>


<section class="py-5 section_slider">
    <div class="container">

        <h2 class="text-center text_slider ">Фотографии</h2>

        <div class="slider-for mb-4">
            {% for slide in slides %}
                <div class="slide-item">
                    <a href="{{ slide.image.url }}">
                        <img src="{{ slide.image.url }}" class="img-fluid rounded">
                    </a>
                </div>
            {% endfor %}
        </div>


        <div class="slider-controls-wrapper d-flex align-items-center justify-content-center gap-3">

            <button class="custom-prev">
                {% include "landing/icons/move-left.svg.html" %}
            </button>

            <div class="slider-nav">
                {% for slide in slides %}
                    <div class="thumb-item">
                        <img src="{{ slide.image.url }}" class="img-fluid rounded">
                    </div>
                {% endfor %}
            </div>

            <button class="custom-next">
                {% include "landing/icons/move-right.svg.html" %}
            </button>

        </div>

    </div>
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-lightbox@0.2.12/dist/slick-lightbox.min.js"></script>
<script src="{% static 'landing/js/main.js' %}"></script>

</body>
</html>